/* src/components/CommonStyles.module.css */
.wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial, sans-serif';
    color: #333; /* Common text color */
  }
  
  .buttonPrimary {
    background-color: #d43f5e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .buttonPrimary:hover {
    background-color: #c13552;
  }