.container {
    padding: 2rem;
    background-color: #fff7f8;
  }
  
  .timelineGroup, .thingsToDoGroup {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  .timelineContent, .thingsToDoContent {
    max-width: 600px;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin-bottom: 1rem;
  }
  
  .travelOption, .thingsToDoGroup {
    margin-bottom: 2rem;
  }
  
  .heading {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  .heading svg {
    margin-right: 0.5rem;
    font-size: 1.5rem;
  }
  
  .list {
    padding-left: 1.5rem;
    list-style-type: disc;
    margin: 0;
  }
  
  .expandableItem {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }
  
  .subList {
    padding-left: 2rem;
    margin-top: 0.5rem;
  }
  
  .icon {
    margin-left: 0.5rem;
  }
  
  .thingsToDoGroup h3 {
    margin-bottom: 1rem;
    text-align: center;
  }
  

 
    .mapLink {
      display: inline-flex;
      align-items: center;
      margin-left: 5px; /* Adjust spacing between text and icon if needed */
      color: blue; /* Ensure icon color inherits from the parent text */
    }
    
    .mapLink svg {
      vertical-align: middle; /* Aligns the icon with the text */
    }